*{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

.Myimage {
    height: 50px !important;
}

.backgroundcolor {
    background-color: #A5C89E;
}

.textcolor{
    color: #FFFBB1;
}

.natureimg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(https://media.istockphoto.com/id/611100160/photo/black-and-white-svalbard-landscape.jpg?s=612x612&w=0&k=20&c=Wq0djqz9A45nPL0ER4iJnmn6UrqUwfzs6DiUL9vT1hM=);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}